.button {
  position: relative;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: $white;
  background: $accent;
  border-radius: 10px;
  transition: 200ms ease;
  cursor: pointer;
  &:hover {
    background-color: lighten($accent, 5%);
  }
  &--radius-50 {
    border-radius: 50px;
  }
}