.footer {
  padding-top: 25px;
  padding-bottom: 30px;
  background: #232323;
  &__container {
    @include xl-block {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
  &__logo {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    @include xl-block {
      margin-bottom: 0;
    }
  }
  &__logo-pic {
    width: 130px;
    flex: 0 0 130px;
    display: block;
    margin-right: 10px;
    @include xl-block {
      width: 145px;
      flex: 0 0 145px;
      margin-right: 23px;
    }
  }
  &__slogan {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    @include xl-block {
      width: 190px;
    }
  }
  &__rating {
    width: 150px;
    margin-bottom: 20px;
    @include xl-block {
      margin-bottom: 0;
    }
  }
  &__menu {
    margin-bottom: 20px;
    @include xl-block {
      display: none;
    }
    a {
      display: block;
      margin-bottom: 8px;
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      color: #FFFFFF;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  &__messengers {
    margin-bottom: 15px;
    @include xl-block {
      margin-bottom: 0;
      display: flex;
      align-items: center;
    }
    p {
      margin-bottom: 5px;
      font-weight: 400;
      font-size: 14px;
      line-height: 14px;
      text-align: left;
      color: #fff;
      @include xl-block {
        width: 128px;
        margin-right: 25px;
      }
    }
  }
  &__mesg-links {
    display: flex;
    align-items: center;
    a {
      display: block;
      width: 33px;
      height: 33px;
      margin-right: 10px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
  &__contacts {
    p {
      font-weight: 400;
      font-size: 12px;
      line-height: 14px;
      text-align: left;
      color: #CDCDCD;
    }
  }
  &__phone {
    position: relative;
    font-weight: 700;
    font-size: 21px;
    line-height: 140%;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-left: 40px;
    &:before {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      transform: translate(0, -50%);
      width: 26px;
      height: 26px;
      background-size: 26px;
      background-image: url("../img/phone.png");
      background-repeat: no-repeat;
    }
  }
}