.footer {
  padding-top: 20px;
  padding-bottom: 20px;
  background: $white;
  @include xl-block {
    padding-top: 130px;
    padding-bottom: 85px;
  }
  &__top {
    @include md-block {
      display: flex;
    }
  }
  &__bottom {
    text-align: center;
    font-size: 14px;
    color: $gray;
    @include xl-block {
      font-size: 18px;
    }
  }
  &-info {
    @include sm-block {
      width: 300px;
    }
    &__text {
      margin-bottom: 20px;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: #252525;
      @include xl-block {
        font-size: 18px;
        line-height: 27px;
      }
    }
  }
  &-list {
    margin-bottom: 30px;
    @include sm-block {
      display: flex;
    }
    @include md-block {
      margin-left: auto;
    }
    &__item {
      margin-bottom: 20px;
      @include sm-block {
        margin-right: 40px;
        &:last-child {
          margin-right: 0;
        }
      }
      @include md-block {
        margin-right: 70px;
      }
      @include xl-block {
        margin-right: 100px;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
    &__title {
      margin-bottom: 8px;
      font-size: 18px;
      line-height: 24px;
      font-weight: 500;
      color: #252525;
      @include md-block {
        font-size: 24px;
        line-height: 36px;
      }
    }
    &__value {
      position: relative;
      font-size: 16px;
      line-height: 24px;
      color: $text;
      transition: 200ms ease;
      @include xl-block {
        font-size: 18px;
        line-height: 27px;
      }
      &:hover {
        color: lighten($text, 10%);
        text-decoration: underline;
      }
      &:before {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate(0, -50%);
        background-repeat: no-repeat;
        width: 24px;
        height: 24px;
      }
      &--location {
        padding-left: 34px;
        line-height: 34px;
        @include xl-block {
          line-height: 50px;
        }
        &:hover {
          text-decoration: none;
        }
        &:before {
          background-image: url('../img/icons/icon-location.svg');
        }
      }
      &--phone {
        padding-left: 34px;
        line-height: 34px;
        @include xl-block {
          line-height: 50px;
        }
        &:hover {
          text-decoration: none;
        }
        &:before {
          background-image: url('../img/icons/icon-phone.svg');
        }
      }
      &--email {
        padding-left: 34px;
        line-height: 34px;
        @include xl-block {
          line-height: 50px;
        }
        &:hover {
          text-decoration: none;
        }
        &:before {
          background-image: url('../img/icons/icon-email.svg');
        }
      }
    }
  }
}