mixin best()
  section.best 
    .container.best__container 
      .best__info 
        h2.best__header Find The Best <span class="accent">Freelancers</span> Here
        p.best__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut erat bibendum ornare urna, cursus eget convallis. Feugiat imperdiet posuere justo, ultrices interdum sed orci nunc, mattis. Ipsum viverra viverra neque adipiscing arcu, quam dictum. Dui mi viverra dui, sit accumsan, tincidunt massa. Dui cras magnis.
      .best-body 
        img.best-body__img(src="img/picture/girl.png", alt="")
        .point 
          .point__num 500+
          .point__text freelancers
        .point.point--big
          .point__num 300+
          .point__text freelance work Posted
