mixin header()
  header.header 
    nav.main-nav 
      a.logo.main-nav__logo(href="") 
        img.logo__pic(src="img/icons/logo.svg", alt="")
      ul.site-navigation.main-nav__navigation 
        li.site-navigation__item
          a(href="/") Home 
        li.site-navigation__item 
          a(href="/find-work") Find work
        li.site-navigation__item 
          a(href="/find-freelancers") Find Freelancers
        li.site-navigation__item 
          a(href="/login") Log In
        li.site-navigation__item 
          a(href="/sign-up") Sign Up
      a.button.button--radius-50.main-nav__button(href="/new_project") Post a project
      .sandwich.main-nav__sandwich.js-side-menu(data-id="menu")
        .sandwich__inner
    
