mixin intro()
  section.intro 
    .container.intro__container 
      .intro__main 
        h1.intro__header Are you looking for Freelancers?
        p.intro__subtitle Hire Great Freelancers, Fast. Spacelance helps you hire elite freelancers at a moment's notice
        .intro__bottom 
          button.button.intro__button Hire a freelancer
          form.search.intro__search(action="#")
            input.search__input(type="text", placeholder="search freelance work") 
            button.search__button(type="submit") Search