mixin works()
  section.works 
    .container.works__container 
      p.works__subtitle The latest freelance work!
      h2.works__header Recently Posted Works

      .slider.works__slider
        #slider-1.swiper.slider__swaiper 
          .swiper-wrapper.slider__wrapper
            .swiper-slide.slider__slide 
              .slider__item 
                img.slider__icon(src="img/picture/logo-design.png", alt="")
                h3.slider__title Logo Design
                p.slider__text Need a professional logo with writing underneath for our jewellery company
                .slider__bottom 
                  p.slider__price Highest bid<br> $500
                  a.slider__link(href="#!") Apply now
            .swiper-slide.slider__slide 
              .slider__item 
                img.slider__icon(src="img/picture/graphic-design.png", alt="")
                h3.slider__title Graphic Design
                p.slider__text We need a graphic designer with UI/UX skills for our Furniture company
                .slider__bottom 
                  p.slider__price Highest bid<br> $500
                  a.slider__link(href="#!") Apply now
            .swiper-slide.slider__slide 
              .slider__item 
                img.slider__icon(src="img/picture/need-seo.png", alt="")
                h3.slider__title Need a SEO
                p.slider__text Need a SEO for our company who will let our company to a higher level
                .slider__bottom 
                  p.slider__price Highest bid<br> $500
                  a.slider__link(href="#!") Apply now
            .swiper-slide.slider__slide 
              .slider__item 
                img.slider__icon(src="img/picture/logo-design.png", alt="")
                h3.slider__title Logo Design#2
                p.slider__text Need a professional logo with writing underneath for our jewellery company
                .slider__bottom 
                  p.slider__price Highest bid<br> $500
                  a.slider__link(href="#!") Apply now
            .swiper-slide.slider__slide 
              .slider__item 
                img.slider__icon(src="img/picture/graphic-design.png", alt="")
                h3.slider__title Graphic Design#2
                p.slider__text We need a graphic designer with UI/UX skills for our Furniture company
                .slider__bottom 
                  p.slider__price Highest bid<br> $500
                  a.slider__link(href="#!") Apply now
            .swiper-slide.slider__slide 
              .slider__item 
                img.slider__icon(src="img/picture/need-seo.png", alt="")
                h3.slider__title Need a SEO#2
                p.slider__text Need a SEO for our company who will let our company to a higher level
                .slider__bottom 
                  p.slider__price Highest bid<br> $500
                  a.slider__link(href="#!") Apply now
        .slider__arrow.slider__arrow--prev
          i.fa-solid.fa-arrow-right
        .slider__arrow.slider__arrow--next
          i.fa-solid.fa-arrow-right