@font-face {
	font-family: Poppins;
	font-display: swap;
	src: url("../fonts/Poppins-Bold.woff2") format("woff2"), url("../fonts/Poppins-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: Poppins;
	font-display: swap;
	src: url("../fonts/Poppins-Medium.woff2") format("woff2"), url("../fonts/Poppins-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: Poppins;
	font-display: swap;
	src: url("../fonts/Poppins-Regular.woff2") format("woff2"), url("../fonts/Poppins-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Poppins;
	font-display: swap;
	src: url("../fonts/Poppins-SemiBold.woff2") format("woff2"), url("../fonts/Poppins-SemiBold.woff") format("woff");
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: fa;
	font-display: swap;
	src: url("../fonts/fa-brands-400.woff2") format("woff2"), url("../fonts/fa-brands-400.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: fa;
	font-display: swap;
	src: url("../fonts/fa-regular-400.woff2") format("woff2"), url("../fonts/fa-regular-400.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: fa;
	font-display: swap;
	src: url("../fonts/fa-solid-900.woff2") format("woff2"), url("../fonts/fa-solid-900.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: fa;
	font-display: swap;
	src: url("../fonts/fa-v4compatibility.woff2") format("woff2"), url("../fonts/fa-v4compatibility.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
